<footer class="site-footer">
  {% if page.lang == "el" %}
    {% assign greek = true %}
  {% else %}
    {% assign greek = false %}
  {% endif %}
  <p>
    {% if greek %}<strong>Κουπελιάν Αλέξανδρος</strong>{% else %}<strong>Kupelian Alexander</strong>{% endif %}<br>
    {% if greek %}Πιστοποιημένος χορδιστής πιάνων{% else %}Certified piano tuner{% endif %}
  </p>
  <p>
    {% if greek %}
      Επικοινωνήστε μαζί μου σήμερα και κλείστε το ραντεβού σας
    {% else %}
      Contact me today and arrange your appointment
    {% endif %}!
    <br>
    {% if greek %}
      Τηλ.&nbsp;{% else %}Phone{% endif %}: 6906272426<br>
      email: <a href="mailto:alexanderkepelian@gmail.com">alexanderkepelian@gmail.com</a>
  </p>
</footer>
